section.hero#firstSection
  .cover-slider.owl-carousel.owl-theme
    .cover-slide.hero-slide1
      img.hero-slogan(src="images/min/hero/slogan.svg")
      .hero-wrapper
        a.go-product(href="/") #{i18n.__('go-products')}
        p.hero-paragraph Somos un equipo comprometido enfocado a cumplir las exigencias del mercado de frescos. Nos enorgullece el #[strong trabajo dedicado y experto] de las manos que participan en el desarrollo de nuestros productos.
    .cover-slide.hero-slide2
      h2.hero-title #{i18n.__('mx-lemon')}
      .hero-wrapper
        a.go-product(href="/") #{i18n.__('go-product')}
        p.hero-paragraph Somos un equipo comprometido enfocado a cumplir las exigencias del mercado de frescos. Nos enorgullece el #[strong trabajo dedicado y experto] de las manos que participan en el desarrollo de nuestros productos.
    .cover-slide.hero-slide3
      h2.hero-title #{i18n.__('ps-lemon')}
      .hero-wrapper
        a.go-product(href="/") #{i18n.__('go-product')}
        p.hero-paragraph Somos un equipo comprometido enfocado a cumplir las exigencias del mercado de frescos. Nos enorgullece el #[strong trabajo dedicado y experto] de las manos que participan en el desarrollo de nuestros productos.
    .cover-slide.hero-slide4
      h2.hero-title #{i18n.__('pineapple')}
      .hero-wrapper
        a.go-product(href="/") #{i18n.__('go-product')}
        p.hero-paragraph Somos un equipo comprometido enfocado a cumplir las exigencias del mercado de frescos. Nos enorgullece el #[strong trabajo dedicado y experto] de las manos que participan en el desarrollo de nuestros productos.
    .cover-slide.hero-slide5
      h2.hero-title #{i18n.__('tomatoe')}
      .hero-wrapper
        a.go-product(href="/") #{i18n.__('go-product')}
        p.hero-paragraph Somos un equipo comprometido enfocado a cumplir las exigencias del mercado de frescos. Nos enorgullece el #[strong trabajo dedicado y experto] de las manos que participan en el desarrollo de nuestros productos.
    .cover-slide.hero-slide6
      h2.hero-title #{i18n.__('tamarind')}
      .hero-wrapper
        a.go-product(href="/") #{i18n.__('go-product')}
        p.hero-paragraph Somos un equipo comprometido enfocado a cumplir las exigencias del mercado de frescos. Nos enorgullece el #[strong trabajo dedicado y experto] de las manos que participan en el desarrollo de nuestros productos.
    .cover-slide.hero-slide7
      h2.hero-title #{i18n.__('coconut')}
      .hero-wrapper
        a.go-product(href="/") #{i18n.__('go-product')}
        p.hero-paragraph Somos un equipo comprometido enfocado a cumplir las exigencias del mercado de frescos. Nos enorgullece el #[strong trabajo dedicado y experto] de las manos que participan en el desarrollo de nuestros productos.
